/*
    Student Name: Tyson Ringelstetter
    File Name: styles.css
    Date: 11/11/2024
*/

/* Begin Mobile Styles */

/* Show mobile class, hide tablet-desktop class and menu-links id */
.mobile {
    display: block !important;
}

.tablet-desktop {
    display: none !important;
}

/* Style rules for hero image and header */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../images/deception-pass-jumbotron-a.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1, h2, h3, h4 {
    font-family: 'Inter', sans-serif;
    line-height: 1.2;
}

.welcome {
    position: absolute;
    top: 20%;
    margin: auto;
    padding: 2em;
}

.welcome p {
    font-size: 1.25em;
    width: 85%;
    line-height: 1.5;
}

.bg-dark{
    background-color: #03051d !important;
}

.container {
    margin-top: 20px;
}

/* Style rule for Nutrition hero text */
#nutr.display-1 {
    font-size: 4em;
}

.iframe {
    width: 100%;
    height: 200px;
}
/* Style rule for map */
.map {
    border: 2px solid #000;
    width: 100%;
    height: 250px;
}

/* Style rule for labels */
label {
    display: block;
    padding-top: 3%;
}

h1 {
    font-size: 2.25rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

h4 {
    font-size: 1rem; 
    font-weight: 500;
}

p {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: justify;
}

header p {
    text-align: center;
}

footer p {
    text-align: center;
}

.display-1 {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 700;
}

.display-3 {
    font-size: 1.75rem; 
    line-height: 1.2;
    font-weight: 700;
}

body {
    font-family: Helvetica;
}

.lower-section, .upper-section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(41, 128, 185, 0.5);
}

.lower-section span, .upper-section span {
    font-size: 2.2rem;
}

.lower-section{
    min-height: 50vh;
    width: 100%;
    background:  #fffffff0;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.section-divider {
    position: relative;
}

.section-divider:before {
    content: ""; 
    width: 6.5rem;
    height: 6.5rem;
    background: #FFFFFf;
    border-radius: 100%;
    position: absolute;
    top: -3.25rem;
    left: calc(50% - 3.25rem);
    color: rgba(0, 0, 0, 1);
    line-height: 6rem;
    text-indent: 1.75rem;
    font-size: 3rem;
}

.text-center h2 {
    font-size: 1.2rem; /* Slightly reduce heading font size */
}

.text-center h4 {
    font-size: 1.4rem;
}

main.container-fluid {
    width: 100%;      /* Ensure full width on mobile */
    padding: 0 1rem; /* Add padding to avoid content touching the edges */
    margin-top: 2rem; /* Slightly reduce the top margin */
}

.upper-section, .lower-section {
    padding: 0.5rem; /* Reduce padding within sections for smaller screens */
}

.btn {
    font-size: 1rem;     /* Adjust button font size */
    padding: 0.75rem 1rem; /* Adjust button padding */
}

.form-grid {
    padding: 1rem; /* Reduce padding in the form grid */
}

.mobile-centered-img {
    display: block;         /* Make the image a block element */
    margin: 1rem auto;      /* Add extra margin and center it horizontally */
    max-width: 90%;         /* Ensure the image doesn't exceed 90% of the viewport width */
}

iframe {
    width: 100%;  /* Make the iframe width responsive */
    height: 250px; /* Reduce the height for better visibility */
    margin-top: 1rem; /* Add some margin at the top */
}

.custom-margin-bottom {
    margin-bottom: 20px; /* Adjust the value as needed */
}

/* Media Query for Tablet Viewport */
@media (min-width: 768px) {  

    /* Tablet Viewport: Show tablet-desktop class, hide mobile class */
    .tablet-desktop {
        display: block !important;
    }

    .mobile {
        display: none !important;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.75rem;  
    }

    h4 {
        font-size: 1.5rem;  
    }

    p {
        font-size: 0.90rem;
    }

    header p {
        text-align: center;
    }

    footer p {
        text-align: center; 
    }

    .display-1 {
        font-size: 3.5rem; /* Adjust size for tablets */
    }

    .display-3 {
        font-size: 2.5rem; /* Adjust size for tablets */
    }

    /* Tablet Viewport: Nutrition hero text */
    #nutr.display-1 {
        font-size: 6em;
    }
    
    /* Tablet Viewport: Style rule for map */
    .map {
        width: 600px;
        height: 450px;
    }
    
     /* Tablet Viewport: Style rule for form element */
    form {
        width: 90%;
        margin: 0 auto;
    }

    .frame {
        opacity: 0.9;
    }

    .frame:hover {
        opacity: 1;
        box-shadow: 8px 8px 10px #808080;
        transform: translateY(10px);
    }

    .lower-section, .upper-section {
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(41, 128, 185, 0.5);
    }

    .lower-section span, .upper-section span {
        font-size: 2.2rem;
    }
    .upper-section {
        min-height: 50vh;
        width: 100%;
        background: #f5f6f7;
        padding: 30px;
    }

    .lower-section{
        min-height: 50vh;
        width: 100%;
        background:  #fffffff0;
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
    }

    .section-divider {
        position: relative;
    }

    .section-divider:before {
        content: ""; 
        width: 6.5rem;
        height: 6.5rem;
        background: #FFFFFf;
        border-radius: 100%;
        position: absolute;
        top: -3.25rem;
        left: calc(50% - 3.25rem);
        color: rgba(41, 128, 185, 0.5); 
        line-height: 6rem;
        text-indent: 1.75rem;
        font-size: 3rem;
}

}

/* Media Query for Desktop Viewport */
@media (min-width: 992px) {  
    
/* Desktop Viewport: Show tablet-desktop class, hide mobile class */
.tablet-desktop {
        display: block !important;
    }

    .mobile {
        display: none !important;
    }

    h1 {
        font-size: 3.75rem;
    }

    h2 {
        font-size: 3.25rem; 
    }

    h3 {
        font-size: 2.75rem; 
    }

    h4 {
        font-size: 2.0rem; 
    }
    
    p {
        font-size: 1.1rem;
    }

    header p {
        text-align: center;
    }

    footer p {
        text-align: center;
    }

    .text-content {
        margin-left: -100px; /* Adjust the value as needed */
    }

    .display-1 {
        font-size: 4.5rem; /* Larger size for desktop */
    }

    .display-3 {
        font-size: 3.5rem; /* Larger size for desktop */
    }

    /* Desktop Viewport: Style rules for form */
    form {
        width: auto;
        margin-bottom: 2%;
        padding-top: 50px;
    }
    
    .form-grid {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 20px; 
    }
    
    .btn {
        grid-column: 1 / span 3;
    }

    .bg-dark {
        background-color: #03051d !important;
    }

    .navbar-brand {
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        font-size: 28px;
    }

    .navbar-dark .navbar-nav .nav-link {
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
        margin-right: 30px
    }

    .navbar-dark .navbar-nav .nav-item {
        margin: 5px 10px;
    }

    .container {
        margin-top: 0px;
    }

    img{
        border-style: solid;
        border-width: 3px;
        border-radius: 5px;
        border-color: #03051d;
    }

    #wipsa-logo {
        border-style: none;
        border-width: 0px;
        border-radius: 0px;
        border-color: #03051d00;
    }

    .frame {
        opacity: 0.9;
    }

    .frame:hover {
        opacity: 1;
        box-shadow: 8px 8px 10px #808080;
        transform: translateY(10px);
    }

}
